* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  padding: 10px;
  border: 1px solid grey;
}

pre {
  font-size: 20px;
}

.container {
  display: inline-block;
}

.canvas-container {
}

.container > .rgb-container {
  /* border: 1px solid black; */
  margin-top: 10px;
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}

.container > .rgb-container pre {
  display: inline-block;
  width: 33.33%;
}

.hex-container {
  /* border: 1px solid black; */
  margin-top: 10px;
}
